@import '../scss/variables.scss';

.icon-link {
  display: block;
  padding: 2rem;
  border: 2px solid $black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.6s ease-in-out;

  @media (min-width: $tablet) {
    font-size: 3rem;
  }

  @media (min-width: $desktop) {
    position: absolute;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
  }
}
